/* Import the specific font family we are going to use */
@import url("http://fonts.cdnfonts.com/css/cocogoose?styles=44178");
@import url("http://fonts.cdnfonts.com/css/lato");

*,
*::before,
*::after {
  font-family: "COCOGOOSE", "Lato";
  font-weight: lighter;
  font-size: small;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Define global CSS variables */
:root {
  --red: #ec5242;
  --black: #272a31;
  --grey: #d3d3d3;
}

.primary-color {
  color: var(--red);
}

.secondary-color {
  color: var(--black);
}

.third-color {
  color: var(--grey);
}

/* Styling the Index.html page */
.index-header {
  background-image: url("../../img/mobile_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}

.menuIcon {
  width: 4em;
  margin: 1em 2em;
}

.w-150 {
  width: 150%;
}

.intro {
  background-image: url("../../img/mobile_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -200px;
  height: 410px;
}

.introH1 {
  background-image: url(../../img/orange.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: 95%;
}

.timing > p:first-child {
  font-weight: 950;
  font-size: larger;
  color: #484b51;
}

#program {
  background-image: url(../../img/fill-bg.png);
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small;
}

ul,
li,
a {
  padding-left: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.short-line {
  width: 5.5rem;
  margin: 0.75rem 0;
  height: 0.15rem;
  background-color: var(--red);
}

.program-item {
  display: flex;
  width: 80%;
  min-width: 385px;
  align-self: center;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 1em;
  padding: 1em;
}

.attend-btn,
.showMore-btn {
  letter-spacing: 0.03em;
  padding: 1.5rem;
  cursor: pointer;
  background-color: var(--red);
  border-radius: 5px;
  border: none;
  opacity: 0.85;
}

.attend-btn:hover {
  opacity: 1;
}

.speacker-img {
  width: 10em;
  height: 10em;
  margin: 1em;
}

.short-grey-line {
  width: 2.5rem;
  margin: 0.75rem 0;
  height: 0.25rem;
  background-color: var(--grey);
}
.speackers-list > li {
  margin: 1em;
}

.showMore-btn {
  border: 1px solid var(--black);
  background-color: whitesmoke;
  width: 100%;
  min-width: 450px;
}
.showMore-btn:hover {
  border: 2px solid var(--black);
  background-color: var(--red);
  color: white;
}

.only-desktop{
  display: none;
}
/* Add styles for the desktop version */

@media only screen and (min-width: 768px) {
  .only-mobile {
    display: none;
  }

  .index-header {
    background-image: none;
  }

  .dark-nav{
    background-color: var(--black);
  }

  .dark-nav img{
    width: 75%;
  }
}
