/* Import the specific font family we are going to use */
@import url("http://fonts.cdnfonts.com/css/cocogoose");
@import url("http://fonts.cdnfonts.com/css/lato");

*,
*::before,
*::after {
  font-family: "COCOGOOSE", "Lato";
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Define global CSS variables */
:root {
  --red: #ec5242;
  --black: #272a31;
  --grey: #d3d3d3;
}

header {
  background-image: url("../img/mobile_bg.png");
  background-size: cover;
  height: 150px;
}
.menuIcon {
  width: 4em;
  margin: 1em 2em;
  color: var(--black);
}
